*
  margin: 0
  padding: 0
  box-sizing border-box
  font-family "Monaco", monospace


body
  background-color rgba(222,235,244,0.3)
//
//placeholder()
//  &::-webkit-input-placeholder
//    {block}
//  &:-moz-placeholder
//    {block}
//  &::-moz-placeholder
//    {block}
//  &:-ms-input-placeholder
//    {block}
//
//.page
//  margin-top 100px
//  &__list
//    margin-top 50px
//    margin-left 25px
//    margin-right 25px
//    display grid
//    grid-template-columns repeat(auto-fill, 240px)
//    grid-gap 20px
//    .list__item
//      padding 3px 7px
//      background-color white
//      box-shadow 0 5px 20px -10px rgba(32 36 161 0.5)
//      transition 0.2s box-shadow ease-in-out
//      outline none
//      display grid
//      height 50px
//      border: 2px solid #648aa5;
//      border-radius 10px
//      justify-content center
//      align-items center
//      width 240px
//      &:focus
//        box-shadow 0 2px 5px rgba(100, 138, 165, 0.8)
//        transition 0.2s box-shadow ease-in-out
//  &__search
//    margin-left auto
//    margin-right auto
//    display grid
//    grid-auto-flow column
//    grid-gap 25px
//    justify-content center
//    .search
//      &__input
//        width 50vw
//        font-size 16px
//        padding 8px 10px
//        border-radius 15px
//        border-color: #648aa5
//        border-style solid
//        outline none
//        box-shadow 0 2px 5px rgba(100, 138, 165, 0.2)
//        transition 0.2s box-shadow ease-in-out
//        &:focus
//          box-shadow 0 2px 5px rgba(100, 138, 165, 0.8)
//          transition 0.2s box-shadow ease-in-out
//        +placeholder()
//          color #0c4c7a
//      &__button
//        border-radius  15px
//        padding 8.5px 25px 7.5px
//        border-color: #0fb2a3
//        background-color white
//        cursor: pointer;
//        outline none
//        border-style solid
//        font-size 16px
//        box-shadow 0 2px 5px rgba(100, 138, 165, 0.4)
//        color #0fb2a3
//        &:hover
//          background-color #2fead9
//          color white
//        &:focus
//          box-shadow 0 2px 5px rgba(4, 28, 81, 0.8)
//          transition 0.2s box-shadow ease-in-out